* {
  margin: 0;
  padding: 0;
}


body {
  height: 100%;
  margin: 0;
  background-color: aqua; /*to set the background color*/
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5em 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "header"
    "main";
}

.main { 
  grid-area: main; 

}

.header{
  height:5em;
  grid-area: header;
}

.main-search{
  margin-top: 15%;
  padding-inline: 25%;
  width: 50%;
}

.main-search>div .MuiInputBase-root{
  border: 2px solid gray;
  border-radius: 10px;
}