* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

body {
  height: 100%;
  margin: 0;
  background-image: url(https://wallpapercave.com/wp/wp3106267.jpg);
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 15vh 80%;
  gap: 0px 0px;
  grid-template-areas:
    "header"
    "main";
}

.header{
  height:6em;
  grid-area: header;
}

.main { 
  grid-area: main; 
}