.nav-bar {
  grid-row-start: 1;
  grid-column-start: 1;
  position: fixed;
  background: linear-gradient(45deg, yellow, blue);
  width: 100%;
  height: 12%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-bar-logo {
  grid-area: logo;
  object-fit: cover;
  width: 200px;
  height: 5em; /* set to the height of the nav bar */
}

.nav-bar-title {
  font-family: 'paladins';
  position: relative;
  font-size: 60px;
  letter-spacing: 5px;
  font-weight: bold;
  margin-left: 120px;
  animation: color-change 10s infinite;

  text-shadow: 0px 0px 1px rgb(167, 167, 167), 0px 1px 1px rgb(167, 167, 167),
    0px 2px 1px rgb(167, 167, 167), 1px 1px 1px rgb(167, 167, 167),
    1px 2px 1px rgb(167, 167, 167), 1px 3px 1px rgb(167, 167, 167),
    2px 2px 1px rgb(167, 167, 167), 2px 3px 1px rgb(167, 167, 167),
    2px 4px 1px rgb(167, 167, 167), 1px 10px 30px rgba(0, 0, 0, 0.8),
    1px 10px 70px rgba(0, 0, 0, 0.8), 0px 5px 5px rgba(0, 0, 0, 0.8),
    -5px 5px 20px rgba(0, 0, 0, 0.8), 5px 5px 20px rgba(0, 0, 0, 0.8),
    1px 1px 120px rgba(255, 255, 255, 0.5);
}

@keyframes color-change {
  0% {
    color: cyan;
  }
  20% {
    color: violet;
  }
  40% {
    color: green;
  }
  60% {
    color: red;
  }
  80% {
    color: orange;
  }
  100% {
    color: white;
  }
}

.nav-bar-search {
  width: 15%; /*adjusts width of the search bar*/
  background-color: white;
  padding: 5px;
  padding-bottom: 15px;
  padding-inline: 16px;
  grid-area: nav-search;
  border: 3px solid transparent;
  border-radius: 6px;
}
