* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 10% 80%;
}


.game-list{
  grid-row-start: 1;
  grid-column-start: 1;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.game-card {
  font-size: 1vw;

  background: linear-gradient(45deg, yellow, blue);
  background-color: salmon;
  margin: 1vw;
  padding: 1vw;
  overflow: hidden;

}